.calculator {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background: #000;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 15px;
}

.zero-btn {
  grid-column: span 2;
  border-radius: 40px !important;
  text-align: left;
  padding-left: 30px !important;
}